<%- include ("../partials/header.ejs") %>


<div class="container">
  <h1 class="text-center"> TODOs </h1>
  <div class="row">
    <a href="/todos/new">Add A TODO</a>
  </div>
  <div class="row justify-content-between">
  <% todos.forEach(function(todo) { %>
    <a href="/todos/<%= todo.id %>" class="item d-block card col-md-3 <%= todo.task_status %> align-items-center">
      <div class="card-body">
        <h4 class="card-title">
            <%= todo.item %>
        </h4>
      </div>    
    </a>
  <% }); %>
  </div>
</div>


<%- include ("../partials/footer.ejs") %>
