<%- include ("../partials/header.ejs") %>

<h1> TODOs </h1>
<div class="container">
  <table class="table">
    <thead>
      <% if(currentUser) { %>
        <form class="form-inline" action="/todos" method="POST">
          <tr>
            <th>
              <div class="form-group">
                <input class="form-control" type="text" name="item" placeholder="Add Todo">
              </div>
            </th>
            <th>
              <div class="form-group">
                <input class="form-control" type="text" name="category" placeholder="Category">
              </div>
            </th>
            <th>
              <div class="form-group">
                <select class="form-control" name="task_status">
                  <option value="todo" default> Todo </option>
                  <option value="in-progress"> in-progress </option>
                  <option value="done"> done </option>
                </select>
              </div>
            </th>
            <th>
              <div class="form-group">
                <select class="form-control" name="type">
                  <option value="one-time" default> One Time </option>
                  <option value="recurring"> Recurring </option>
                </select>
              </div>
            </th>
            <th>
              <div class="form-group pull-right">
                <input class="form-control btn btn-primary" type="submit" value="Create">
              </div>
            </th>
          </tr>
        </form>
      <% } %>
  </thead>
    
  <tbody>
    <% todos.forEach(function(todo) { %>
      <% if(id && id === todo.id) { %>
        <form action="/todos/<%= todo.id %>?_method=PUT" method="POST">
          <tr>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" name="todo[item]" value="<%= todo.item %>">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" name="todo[category]" value="<%= todo.category %>">
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" name="todo[task_status]">
                  <option value="todo" default> Todo </option>
                  <option value="in-progress" default> in-progress </option>
                  <option value="done" default> done </option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" name="todo[type]">
                  <option value="one-time" default> One Time </option>
                  <option value="recurring"> Recurring </option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group pull-right">
                <input class="form-control" type="submit" name="Update">
              </div>
            </td>
          </tr>
        </form>
      <% } else { %>
        <tr>
          <td>
            <a href="/todos/<%= todo.id %>/edit">
              <%= todo.item %>
            </a>
          </td>
          <td>
            <%= todo.category %> 
          </td>
          <td> <%= todo.task_status %> </td>
          <td> <%= todo.type %> </td>
          <td>
            <form class="inline-form" action="/todos/<%= todo.id %>?_method=DELETE" method="POST">
              <div class="form-group pull-right">
                <input class="form-control" type="submit" value="x">
              </div>
            </form>
          </td>
        </tr>
      <% } %>
    </div>
  <% }); %>
  </table>
</div>

<%- include ("../partials/footer.ejs") %>
