<%- include ("../partials/header.ejs") %>

<h1> TODOs </h1>

<form action="/todos" method="POST">
  <input type="text" name="todo[item]" placeholder="Add Todo">
  <input type="submit" value="Create">
</form>


<ul>
  <% todos.forEach(function(todo) { %>
    <li> 
      <% if(id && id === todo.id) { %>
        <form action="/todos/<%= todo.id %>?_method=PUT" method="POST">
          <input type="text" name="todo[item]" value="<%= todo.item %>">
          <input type="submit" name="Update">
        </form>
      <% } else { %>
        <a href="/todos/<%= todo.id %>/edit">
          <%= todo.item %> 
        </a>
        <form class="inline-form" action="/todos/<%= todo.id %>?_method=DELETE" method="POST">
          <input type="submit" value="x">
        </form>
      <% } %>
    </li>
  <% }); %>
</ul>

<%- include ("../partials/footer.ejs") %>
